# Python Prerequisite Test

By: Pacmann AI

---

**Instructions**:
- Make a Copy of this notebook.
- Answer all questions.
- Submit your answer in **.ipynb** format named with `your_name-python.ipynb`
- Example: `budi_xaskha-python.ipynb`
- **Submission Link**: [SUBMIT YOUR ANSWER](https://forms.gle/3VGV3t59rsPhbpZn9)

**Note**:
- There are 10 questions to answer.
- You have to answer the question according to the descriptions. **Please read the description carefully**
- <font color='red'>**YOU MUST ANSWER THE QUESTIONS WITHOUT USING ANY LIBRARY**</font>
- **Do not change** the function / class name.
- <font color='red'>**Hard deadline**: 1 week before first main course (not a prerequisite course) start</font>

# 1. Find the Structure of Data
---

Given a 2D list of data, your task is to create a function that returns the number of rows & columns from that list.

Input example:

```python
data = [[1, 2, 3],
        [4, 5, 6],
        [7, 8, 9],
        [10, 11, 12]]
```

Output example:
```
[4 3]
```

Write the function here

In [34]:
# DO NOT CHANGE THE NAME & INPUT OF THE FUNCTION
def check_structure(data):
    '''
    Function to check the data structures

    Parameters
    ----------
    data : list
        The 2D sample data

    Returns
    --------
    data_shape : list
        The shape of data with format [nrows, ncols]
        nrows = number of rows
        ncols = number of columns
    '''

    # variable penampung total rows dan cols
    data_shape = []

    # mencari ada berapa row dengan fungsi len()
    nrows = len(data)

    # mencari kolom dgn cara len dari data index 0
    ncols = len(data[0])

    # append kedalam var tampungan
    data_shape.append(nrows)
    data_shape.append(ncols)

    return data_shape

Check function

In [35]:
# DO NOT CHANGE ANYTHING IN THIS CELL
# Just run after you finish the function
data = [[1, 2, 3],
        [4, 5, 6],
        [7, 8, 9],
        [10, 11, 12]]

data_shape = check_structure(data)
print(data_shape)

[4, 3]

# 2. Create a Weighted Average Function
---

Given a list of number (`data`) and list of weight (`w`), we want to find its weighted average.

To calculate the weighted average, you can use belows formula

$$
\begin{align*}
\text{weighted average} &= \sum_{i=1}^{n} w_{i} \cdot \text{data}_{i} \\
\text{weighted average} &= w_{1} \cdot \text{data}_{1} +  w_{2} \cdot \text{data}_{2} + \cdots + w_{n} \cdot \text{data}_{n}\\
\end{align*}
$$

Input example:

```python
data = [10, 20, 30, 40, 50]
w = [0.10, 0.20, 0.25, 0.3, 0.15]
```

Output example:

```
32.0
```

Write function

In [32]:
# DO NOT CHANGE THE NAME & INPUT OF THE FUNCTION
def calc_weighted_avg(data, w):
    '''
    Function to calculate the weighted average of a list

    Parameters
    ----------
    data : list
        The sample data

    w : list
        The sample weights

    Returns
    -------
    avg : float
        The weighted average
    '''
    # membuat attribute penampung untuk hasil nilai rata-rata
    avg = 0

    # membuat kalkulasi rata-rate pada kedua list dengan menggunakan for loop
    # dengan mencari nilai index dari list 1 dan mengkalikannya masing-masing misal index0 pada list 1 dikalikan dengan index0 pada list 2 dst.
    # lalu menjumlahkan masing2 element dengan operator += kedalam attribute avg
    for index in range(len(data)):
      w_average = data[index] * w[index]
      avg += w_average

    # mengembalikan nilai avg kedalam function calc_weighted_avg
    return avg

Check function

In [33]:
# DO NOT CHANGE ANYTHING IN THIS CELL
# Just run after you finish the function
data = [10, 20, 30, 40, 50]
w = [0.10, 0.20, 0.25, 0.3, 0.15]

avg = calc_weighted_avg(data, w)
print(avg)

32.0

# 3. Which Toko is More Profitable?
---

You are a data analyst that works with financial team. You are given three list of data: `revenues`, `costs`, and `toko_ID`.

Your manager asked which `toko_ID` that is profitable. A `toko` is called profitable if its revenue is higher than its cost.

Create a function to return which `toko_ID` is profitable from a given `revenues` and `costs` data.

Input example

```python
toko_ID = ['A001', 'B002', 'C003', 'D004']
revenues = [80000, 120000, 57000, 450000]
costs = [90000, 110000, 57000, 420000]
```

Output example

```
['B002', 'D004']
```

Write a function

In [30]:
# DO NOT CHANGE THE NAME & INPUT OF THE FUNCTION
def profitable_toko(toko_ID, revenues, costs):
    '''
    Function to return which toko ID is profitable

    Parameters
    ----------
    toko_ID : list
        The ID of toko

    revenues : list
        The list of revenue from the corresponding toko_ID

    costs : list
        The list of cost from the corresponding toko_ID

    Returns
    -------
    toko_profit : list
        The ID of toko that is profitable
    '''
    # membuat variable penampung hasil toko mana yang profit
    toko_profit = []

    # membuat for loop agar dapat mengkalkulasi profit dan mendapat toko mana yg profit
    for index in range(len(toko_ID)):

      # mencari nilai profit dengan membandingkan data revenues lebih besar dr
      # costs
      # maka kita akan memasukkan data string toko id kedalam var penampung
      if revenues[index] > costs[index]:
        toko_profit.append(toko_ID[index])
      else:
        pass

    # mengembalikan nilai didalam var penampung kedalam Fungsi
    return toko_profit

Check function

In [31]:
# DO NOT CHANGE ANYTHING IN THIS CELL
# Just run after you finish the function
toko_ID = ['A001', 'B002', 'C003', 'D004']
revenues = [80000, 120000, 57000, 450000]
costs = [90000, 110000, 57000, 420000]

toko_profit = profitable_toko(toko_ID, revenues, costs)
print(toko_profit)

['B002', 'D004']

# 4. Clean the Phone Number
---

You are on a marketing team that have to transfer e-money as a gift to your customer.

You noticed that the phone number data is inconsistent & you have to clean it.

This is the valid definition of phone number
- Starts with `62`, e.g. `62xxxxxxxxxxx`
- It must be 11 digit number, excluding `62`

Clean the phone number first. If after cleaning, there is an invalid phone number, change the phone number with `'Invalid number'`.

Input example

```python
phone_lists = [
    '82123321123',
    '082321123321',
    '+6282-456-654-456',
    '+62 82 789 987 789',
    '14045',
    '82145-451-145'
]
```

Output example

```
[6282123321123, 6282321123321, 6282456654456, 6282789987789, 'Invalid number', 6282145451145]
```

Write function

In [123]:
# DO NOT CHANGE THE NAME & INPUT OF THE FUNCTION
def clean_phone_number(phone_list):
    '''
    Function to clean the phone number

    Parameters
    ----------
    phone_list : list
        The raw sample of phone data

    Returns
    -------
    phone_clean : list
        The clean sample of phone data
    '''
    cleaned_numbers = []

    # meIterasi melalui setiap karakter didalam phone list
    # dengan limitasi hanya sebuah angka/digit
    
    for number in phone_lists:
      digits = []
      for char in number:
        if char.isdigit():
          digits.append(char)

      # lalu mengecheck jika hasil clean number lebih dari 11 digits,
      # maka akan menampung kedalam variable dengan data clean_number dgn indeks dari 11 character belakang ke atas
      
      clean_number = ''.join(digits)
      #print(clean_number)

      # Setelah melakukan Pembersihan data dari Simbol - + dan spasi
      # dilakukan pembersihan agar data semua sama panjangnya yaitu 11
      # dan juga dilakukan pembersihan dari angka yg start dengan '62' dan '0'
      # karna diakhir akan di append dengan
      
      if clean_number.startswith('62'):
          clean_number = clean_number[2:]
      elif clean_number.startswith('0'):
          clean_number = clean_number[1:]
    
      
      #print(clean_number)

      # memasukkan data clean_number kedalam var cleaned_numbers
      
      cleaned_numbers.append(clean_number)
    
      #print(clean_number)
    print(cleaned_numbers)
    # membuat looping untuk menambahkan digit '62' kedalam data digit yang panjang
    # datanya sepanjang 11 character, lalu memasukkan ke variable phone_clean
    # dan juga ketika menemukan kondisi tidak sama dengan 11 panjang datanya,
    # akan mengisikan ke var phone_clean string 'Invalid number'
    
    phone_clean = []

    for inv_number in cleaned_numbers:
      if len(inv_number) == 11:
        inv_number = '62' + inv_number
        phone_clean.append(int(inv_number))
      #print(inv_number)
      else:
        inv_number = 'Invalid number'
        phone_clean.append(inv_number)

    return phone_clean

Check function

In [124]:
# DO NOT CHANGE ANYTHING IN THIS CELL
# Just run after you finish the function
phone_lists = [
    '82123321123',
    '082321123321',
    '+6282-456-654-456',
    '+62 82 789 987 789',
    '14045',
    '82145-451-145',
    '884927123947123912841247238471923',
    '082767685859499485959594949',
    '+6285774420596666949',
    '+62 0842 895 0956'
]

phone_clean = clean_phone_number(phone_lists)

print(phone_clean)

#[6282123321123, 6282321123321, 6282456654456, 6282789987789, 'Invalid number', 6282145451145]

['82123321123', '82321123321', '82456654456', '82789987789', '14045', '82145451145', '884927123947123912841247238471923', '82767685859499485959594949', '85774420596666949', '08428950956']
[6282123321123, 6282321123321, 6282456654456, 6282789987789, 'Invalid number', 6282145451145, 'Invalid number', 'Invalid number', 'Invalid number', 6208428950956]

In [117]:
phone_lists = [
    '82432234432',
    '+62 82 32',
    '14032',
    '082 234 432 234'
]

phone_clean = clean_phone_number(phone_lists)
print(phone_clean)

['82432234432', '8232', '14032', '82234432234']
[6282432234432, 'Invalid number', 'Invalid number', 6282234432234]

# 5. Find the Nearest Tourism Object
---

You are developing a web application that recommend good place to stay during holiday sessions.

A feature loved by most of customer is **finding** the nearest tourism object from a position (could be their hotel).

Given that each object/places has an location coordinates (x, y), you can calculate the distance of two objects by

$$
\text{dist}(A, B)
=
\sqrt{
    (A_{x} - B_{x})^{2}
    +
    (A_{y} - B_{y})^{2}
}
$$

Given a list of tourism object (`tourism_name`), tourism object coordinates (`tourism_coor`), and customer places coordinates (`current_coor`), return the nearest tourism object as a `dict` type.

Example of calculating distance between two objects

- Say we want to calculate the distance between `Taman C` and `Danau D`
  - `Taman C` location coordinate: `[46.67, 40.44]`
  - `Danau D` location coordinate: `[21.83, 1.94]`
- So the distance is

$$
\begin{align*}
\text{dist}(C, D)
&=
\sqrt{
    (C_{x} - D_{x})^{2} + (C_{y} - D_{y})^{2}
} \\
&=
\sqrt{
    (46.67 - 21.83)^{2} + (40.44-1.94)^{2}
} \\
&=
\sqrt{
    (24.84)^{2} + (38.50)^{2}
} \\
&=
\sqrt{
    2099.28
} \\
\text{dist}(C, D)
&= 45.82
\end{align*}
$$

Input example

```python
tourism_name = [
    'Pantai A',
    'Jembatan B',
    'Taman C',
    'Danau D',
    'Perpustakaan E',
    'Mall F',
    'Monumen G',
    'Taman Hutan H',
    'Air terjun I',
    'Gunung J'
]

tourism_coor = [
    [-34.93, -31.23],
    [-77.90, 79.90],
    [46.67, 40.44],
    [21.83, 1.94],
    [41.77, -63.44],
    [-1.10, -47.22],
    [68.81, 64.65],
    [-21.23, 22.03],
    [68.30, -69.73],
    [12.82, 30.75],
]

current_coor = [-2.21, 3.15]
```

Output example

```
{'object': 'Danau D', 'dist': 24.07043206924213}
```

Write function

In [27]:
# DO NOT CHANGE THE NAME & INPUT OF THE FUNCTION
# Function to find distance between 2 object
def calc_dist(A, B):
    '''
    Function to calculate distance between two objects

    Parameters
    ----------
    A : list
        The coordinates of object A

    B : list
        The coordinates of object B

    Returns
    -------
    dist : float
        The distance between A & B
    '''
    dist = []


    # Menghitung jarak antara taman object A dengan object B

    # menghitung kordinat x
    squared_x = (A[0] - B[0]) ** 2

    # menghitung kordinat y
    squared_y = (A[1] - B[1]) ** 2

    # lalu mendapatkan nilai distance
    distance = (squared_x + squared_y) ** 0.5
    dist.append(distance)

    return dist

A = [-34.93, -31.23]

B = [-77.90, 79.90]

#print(A[0]) # -34.93 Ax
#print(A[1]) # -31.23 Ay

#print(B[0]) # -77.9 Bx
#print(B[1]) # 79.9 By

calculate_distance = calc_dist(A, B)
print(calculate_distance)

[119.14821777936926]

In [25]:
# DO NOT CHANGE THE NAME & INPUT OF THE FUNCTION
def find_nearest(current_coor, tourism_coor, tourism_name):
    '''
    Function to find nearest tourism object near current coordinates

    Parameters
    ----------
    current_coor : list
        The guest current coordinate

    tourism_coor : list
        The tourism object coordinates

    toursim_name : list
        The tourism object name

    Returns
    -------
    nearest_object : dict
        The dictionary of nearest tourism object
    '''
    # membuat attribut penampung dari hasil kalkulasi distance x dan y diakarkan
    distances = []

    # membuat iterasi element pada tourism_coor
    for point in tourism_coor:

        # lalu membuat kalkulasi kordinat x (tourism_coor) dengan kordinat user y (current_coor) dan meiterasikannya terhadap semua element
        squared_diff_x = (point[0] - current_coor[0]) ** 2

        # lalu membuat kalkulasi kordinat y (tourism_coor) dengan kordinat user y (current_coor) dan meiterasikannya terhadap semua element
        squared_diff_y = (point[1] - current_coor[1]) ** 2

        # lalu melanjutkan formula yang untuk mencari distance hasil kordinat x dan y ditambahkan lalu diakarkan
        distance = (squared_diff_x + squared_diff_y) ** 0.5

        # append hasil kalkulasi distance kedalam attribut distances
        distances.append(distance)

    # lalu mencari nilai mana yang paling kecil min() pada attribute distances, karna logika saya jika nilai kordinatnya paling kecil berarti lokasinya paling deket
    # dari tempat si usernya
    min_distance = min(distances)

    # lalu kita mencari index dari data yang paling minimum didapatkan dari data distances
    min_index = distances.index(min_distance)

    # lalu membuat dictionary untuk menampung data key object, dist, dan value yaitu dari data tourism_name yang kordinatnya paling dekat/minimum
    # dan value berisikan nilai jarak dari titik tempat wisata ke tempat user
    nearest_object = {
        'object': str(tourism_name[min_index]),
        'dist': min_distance
    }

    # mengembalikan nilai nearest_object ke function find_nearest
    return nearest_object

Check function

In [26]:
# DO NOT CHANGE ANYTHING IN THIS CELL
# Just run after you finish the function
tourism_name = [
    'Pantai A',
    'Jembatan B',
    'Taman C',
    'Danau D',
    'Perpustakaan E',
    'Mall F',
    'Monumen G',
    'Taman Hutan H',
    'Air terjun I',
    'Gunung J'
]

tourism_coor = [
    [-34.93, -31.23],
    [-77.90, 79.90],
    [46.67, 40.44],
    [21.83, 1.94],
    [41.77, -63.44],
    [-1.10, -47.22],
    [68.81, 64.65],
    [-21.23, 22.03],
    [68.30, -69.73],
    [12.82, 30.75],
]

current_coor = [-2.21, 3.15]

nearest_object = find_nearest(current_coor, tourism_coor, tourism_name)
print(nearest_object)

{'object': 'Danau D', 'dist': 24.07043206924213}

# 6. Find Size of People in Some Groups
---

You are in a research team. Your product team asked you to help their research agenda, i.e. performing a Focus Group Discussion (FGD).

The product team need to distribute the user equally to each group. Please help the product team.

Your tasked is to divide $n$ people as equal as possible to $k$ groups.

Input example

```python
n = 14
k = 3
```

Output example

```
[5, 5, 4]
```

Write function

In [19]:
# DO NOT CHANGE THE NAME & INPUT OF THE FUNCTION
def distribute_user(n, k):
    '''
    Function to distribute n user equally to k class

    Parameters
    ----------
    n : int
        The number of people to distribute

    k : int
        The number of group

    Returns
    -------
    group_size : list
        The list of group size (must be integer) and shape of (k)
    '''

    # membuat variable tampungan jumlah orang pada setiap group
    group_size = []

    # Agar kita dapat membagi masing2 peserta kedalam 3 grup,
    # perlu membagikan masing2 dalam 1 grup sejumlah 14 // 3 yaitu 4, maka berarti 4, 4, 4
    # karna 4, 4, 4 maka sisa 2 (n % k) agar nilainya 14. maka kita masih punya sisa 2 angka lagi,
    # kita dapat memasukan 1, 1 kedalam range 0, dan 1.
    # ---------------------------------------------------
    # untuk melakukan hal tsb,
    # pertama jumlah grup kita looping sebanyak sequence/range dari k (3) yaitu, 0, 1, 2
    # lalu, kita membuat kondisi jika jumlah sequence (0, 1, 2) < dari 2 (n % k)
    # akan menambahkan sebanyak orang n // k yaitu 4 ke masing2 group 0, 1, 2,
    # karena ada sisa 2, maka kita tambahkan + 1 agar dapat mengisikan sisanya.
    # lalu karna sequence terakhir yaitu 2 tidak lebih kecil dari n % 2 yaitu 2.
    # maka kita hanya memasukkan nilai n // k = 4 kedalam range terakhir (2).
    for i in range(k):
        if i < n % k:
            group_size.append(n // k + 1)
        else:
            group_size.append(n // k)

    # mengembalikan jumlah orang yang didapat kedalam class distribute_user
    return group_size

Check function

In [20]:
# DO NOT CHANGE ANYTHING IN THIS CELL
# Just run after you finish the function
n = 14
k = 3

group_size = distribute_user(n, k)
print(group_size)

[5, 5, 4]

# 7. Summarize Data with OOP
---

Write a Class that can summarize the given data

- Named the class with `Data`
- Initialize the object with no input
- `Data` has several attributes:
  - `data` --> return the input data
  - `size` --> return the size of the input data
- `Data` has several methods:
  - `read_data(data)` --> to read the input data
  - `find_total()` --> return the total sum of the input data
  - `find_average()` --> return the average of the input data

Input example

```python
data = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

data_obj = Data()
data_obj.read_data(data)
```

Output example

```python
print(data_obj.data)
print(data_obj.size)
print(data_obj.find_total())
print(data_obj.find_average())
```

```
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
10
45
4.5
```

Write class

In [17]:
# DO NOT CHANGE THE NAME & INPUT OF THE CLASS
class Data:

    # membuat Instance attribute data dan size untuk
    # menampung inputan data, dan panjang data inputan
    data = 0
    size = 0

    # constructor method
    def __init__(self):
        pass

    # Membuat method untuk membaca data dan menyimpannya ke
    # Instance attribute self.data dan self.size agar dapat
    # diaccess oleh method lain
    def read_data(self, data):
        self.data = data
        self.size = len(self.data)

    # Membuat method untuk mencari total nilai dari deret angka pada list data
    # lalu mengembalikan nilainya pada fungsi return
    def find_total(self):
        sum_data = sum(self.data)

        return sum_data

    # Membuat method mencari rata-rata,
    # menggunakan hasil dari method find_total() yaitu total penjumlahan,
    # dibagi dengan berapa jumlah panjang nilai yang ada
    def find_average(self):
        average = self.find_total() / self.size

        return average

Check function

In [18]:
# DO NOT CHANGE ANYTHING IN THIS CELL
# Just run after you finish the function
data = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

try:
    data_obj = Data()
    data_obj.read_data(data)

    print(data_obj.data)
    print(data_obj.size)
    print(data_obj.find_total())
    print(data_obj.find_average())
except Exception as e:
    print('There is something wrong')

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
10
45
4.5

# 8. User with Double Promo
---

You are on a marketing team. Your team have 2 types of promo, `promo A` and `promo B`, that user can get **only one of them**.

You suspect that there are some users have double promo. Given a `user_ID`, `promo_A_status`, and `promo_B_status`, create a function that return `user_ID` whose have double promo.

Input example

```python
user_ID = ['01', '02', '03', '04', '05', '06', '07']
promo_A_status = [1, 0, 0, 1, 1, 0, 1]
promo_B_status = [0, 0, 1, 1, 0, 1, 1]
```

04 dan 07

Output example

```
['04', '07']
```

Write function

In [15]:
# DO NOT CHANGE THE NAME & INPUT OF THE FUNCTION
def find_double_promo(user_ID, promo_A_status, promo_B_status):
    '''
    Find user ID that has double promo

    Parameters
    ----------
    user_ID: list
        List of user ID

    promo_A_status: list
        List of user ID that get promo A.
        1 = get promo
        0 = did not get promo

    promo_B_status: list
        List of user ID that get promo B.
        1 = get promo
        0 = did not get promo

    Returns
    -------
    double_ID: list
        List of user that get double promo.
        If None, return []
    '''

    # membuat variable penampung untuk user dgn double promo, promo A, promo B
    double_ID = []

    promo_A_ID = []
    promo_B_ID = []

    # membuat for loop agar list user_ID dapat dicheck dgn masing2 list promo A dan B
    for index in range(len(user_ID)):

        # check pertama apabila pada list promo A dan B nilainya 1 maka double promo
        if promo_A_status[index] == 1 and promo_B_status[index] == 1:
            double_ID.append(user_ID[index])

        # check kedua adalah apabila list promo A nilainya 1 maka dapat promo A
        elif promo_A_status[index] == 1:
            promo_A_ID.append(user_ID[index])

        # check ketiga adalah apabila list promo B nilanya 1 maka dapat promo B
        elif promo_B_status[index] == 1:
            promo_B_ID.append(user_ID[index])


    return double_ID

Check function

In [16]:
# DO NOT CHANGE ANYTHING IN THIS CELL
# Just run after you finish the function
user_ID = ['01', '02', '03', '04', '05', '06', '07']
promo_A_status = [1, 0, 0, 1, 1, 0, 1]
promo_B_status = [0, 0, 1, 1, 0, 1, 1]

double_ID = find_double_promo(user_ID, promo_A_status, promo_B_status)
print(double_ID)

['04', '07']

# 9. Find Duplicate Person in a Research
---

The marketing team & sales want to make sure that there is no duplicate person in the data.

Given a list of people ID & its name, find people ID & names that has similar names.

Input example

``` python
people_ID = ['01', '02', '03', '04', '05', '06', '07']
people_name = [
    'Budi santoso',
    'Pramono Setiadi',
    'Rijal',
    'Dedi setiawan',
    'rijal',
    'Alesha Nur',
    'Dedi Setiawan'
]
```

Output example

```
[['03', 'Rijal'], ['04', 'Dedi setiawan'], ['05', 'rijal'], ['07', 'Dedi Setiawan']]
```

Write function

In [13]:
# DO NOT CHANGE THE NAME & INPUT OF THE FUNCTION
def find_duplicates(people_ID, people_name):
    '''
    Function to find duplicate person

    Parameters
    ----------
    people_ID : List
        list of people ID

    people_name : list
        list of people name

    Returns
    -------
    people_duplicate : list
        List of duplicate people
    '''

    # Membuat dictionary penampung untuk menyimpan data people_ID, people_name
    # key nya berupa nama yg sdh di lower(), agar nantinya bisa di find duplicate,
    # dan juga dapat diappend dengan data yg terdeteksi lower namanya sama seperti rijal dan dedi,
    # dan valuenya adalah hasil iterasi dan checking condition lowercase_name.
    name_dict = {}

    # Membuat looping dengan parameter enumerate people_name dikarenakan akan dictionary
    # index sebagai key, dan name sebagai value nama dari list people_name
    for index, name in enumerate(people_name):

        # Lalu melakukan pengecilan semua karakter dr value name people_name agar dpt di find duplicate
        lowercase_name = name.lower()
        lowercase_name = ' '.join(lowercase_name.split())
        # lalu melakukan checking jika lowercase_name ada didalam dict name_dict,
        # akan append berupa value [people_ID[index], people_name[index]]
        # dikarenakan belum ada value lowercase_name, maka akan melakukan pengisian value pada checking else dahulu
        # setelah itu dikarenakan checking lowercase_name sudah ada, akan melakukan append kembali
        # value dari [people_ID[index], people_name[index]] yang lebih ke key pada dictionary name_dict
        if lowercase_name in name_dict:
            name_dict[lowercase_name].append([people_ID[index], people_name[index]])
        else:
            name_dict[lowercase_name] = [[people_ID[index], people_name[index]]]

    # list penampung untuk hasil terakhir
    people_duplicate = []

    # Untuk mendapatkan value people_ID dan people_name mana yang duplikat
    # kita melakukan looping .items pada dictionary name_dict agar mendapatkan value dari dictnya
    for key, value in name_dict.items():

        # Lalu melakukan checking jika ada panjang data yg lebih dari 1 pada value
        # Maka akan melakukan extend/append kedalam list tampungan people_duplicate
        # menggunakan extend dikarenakan jika menggunakan append, tidak bisa disorted sesuai output
        if len(value) > 1:
            people_duplicate.extend(value)

    # melakukan Sort agar sesuai dengan sequence data
    people_duplicate = sorted(people_duplicate)

    return people_duplicate

Check function

In [14]:
# DO NOT CHANGE ANYTHING IN THIS CELL
# Just run after you finish the function
people_ID = ['01', '02', '03', '04', '05', '06', '07']
people_name = [
    'Budi santoso',
    'Pramono Setiadi',
    'Rijal',
    'Dedi setiawan',
    'rijal',
    'Alesha Nur',
    'Dedi Setiawan'
]

people_duplicate = find_duplicates(people_ID, people_name)
print(people_duplicate)

[['03', 'Rijal'], ['04', 'Dedi setiawan'], ['05', 'rijal'], ['07', 'Dedi Setiawan']]

# 10. Time to Transport Logistic
---

You are a data analyst in a transport logistic. You need to recommend the logistic driver a set of route so that they can deliver the goods efficiently.

Simply, you can create a function to calculate time needed for the driver to follow several set of routes from an initial position and comeback again.

We already have a look-up table that shows the duration needed for moving between two locations

**Durations Table**

<center>

||A|B|C|D|E|
|:-:|:-:|:-:|:-:|:-:|:-:|
|A| 0 | 3 | 5 | 10 | 4 |
|B| 3 | 0 | 6 | 8 | 9 |
|C| 5 | 6 | 0 | 7 | 2 |
|D| 10 | 8 | 7 | 0 | 1 |
|E| 4 | 9 | 2 | 1 | 0 |

Say, you want to know the duration of city `B` to city `E`,

**First**, `B` is the starting point, so go to row `B`

||A|B|C|D|E|
|:-:|:-:|:-:|:-:|:-:|:-:|
|B| 3 | 0 | 6 | 8 | 9 |

<br>

**Then**, `E` is the destination, so from the selected row, go to column `E`

||A|B|C|D|E|
|:-:|:-:|:-:|:-:|:-:|:-:|
|B|  |  |  |  | 9 |

<br>

**Finally**, the duration needed to go from `B` to `E` is 9

To calculate it easily in Python, we turn the duration table into this list

```python
duration_table = [
    [0, 3, 5, 10, 4],
    [3, 0, 6, 8, 9],
    [5, 6, 0, 7, 2],
    [10, 8, 7, 0, 1],
    [4, 9, 2, 1, 0]
]
```

Say you want to measure duration from city `B` to `E`, then the duration would be `duration_table[1][4]` or `duration_table[4][1]`

In [10]:
# Run this code
# Don't change anything
duration_table = [
    [0, 3, 5, 10, 4],
    [3, 0, 6, 8, 9],
    [5, 6, 0, 7, 2],
    [10, 8, 7, 0, 1],
    [4, 9, 2, 1, 0]
]

duration_table[1][4], duration_table[4][1]

(9, 9)

We usually calculate the duration needed from a set of route, e.g. `ABCDEBE`.

The step to calculate the total duration needed to move according to the route (`ABCDEBE`) and get back to the original position (in this case is `A`)

**First**, Extract all the pair of destination inside the route `ABCDEBE`

|Route|Time|
|:-:|:-:|
|`A -> B`||
|`B -> C`||
|`C -> D`||
|`D -> E`||
|`E -> B`||
|`B -> E`||
|`E -> A`||

<br>

**Next**, obtain all the route duration from the destination table

|Route|Time|
|:-:|:-:|
|`A -> B`|3|
|`B -> C`|6|
|`C -> D`|7|
|`D -> E`|1|
|`E -> B`|9|
|`B -> E`|9|
|`E -> A`|4|

<br>

**Finally**, add all the time

$$
\begin{align*}
\text{total time} &= 3 + 6 + 7 + 1 + 9 + 9 + 4 \\
\text{total time} &= 39 \\
\end{align*}
$$

Input example:

```python
route = 'ABCDEBE'
```

Output example
```
39
```

Write function

In [11]:
# DO NOT CHANGE THE NAME & INPUT OF THE FUNCTION
def calculate_duration(route, duration_table):
    '''
    Function to calculate travel duration from a given route and back to the origin

    Parameters
    ----------
    route : str
        The route

    Returns
    -------
    total_time : int
        The travel duration
    '''
    # agar kita dapat memasangkan masing2 row dan column pada tabel dengan ABCDE
    # kita dapat membuat label ABCDE dengan mengambil index dari route
    # pertama kita looping menggunakan enumerate agar dapat mengambil index dan value
    # lalu kita masukkan data berupa value pada route menjadi Key dan Index pada route.
    # data ini dijadikan dalam bentuk dictionary
    # value pada dict ini digunakan untuk mencari data pada duration_table sebagai index rows dan cols
    label_to_index = {}
    #res = []

    for index, value in enumerate(route):
        if value not in label_to_index:
            label_to_index[value] = index
        # else:
            # res.append(index)

    # print(label_to_index)


    # Pada step ini kita akan menjadikan inputan route = 'ABCDEBE',
    # menjadi 2 karakter masing2 didalam list,
    # agar nantinya masing2 2 karakter tersebut dapat dicocokan dgn dict label_to_index
    # dan mendapatkan nilai index agar dipakai untuk mencari data pada duration_table
    pairs = []

    for i in range(len(route)):
        pair = [route[i], route[(i + 1) % len(route)]]
        pairs.append(pair)

    # output
    # [['A', 'B'], ['B', 'C'], ['C', 'D'], ['D', 'E'], ['E', 'B'], ['B', 'E'], ['E', 'A']]


    # Lalu pada tahap ini kita akan me-iterasikan masing2 2 karakter tadi
    # dan mengambil nilai index key dictionary di label_to_index diatas
    # Misalkan jika iterasi pertama yaitu A maka akan mencocokan dengan key dictionary
    # 0 dan jika key B menjadi 1
    pair_values = {}
    values = []

    for pair in pairs:
        # print(pair)
        rows, cols = pair
        rows_index = label_to_index[rows]
        # print(rows_index)
        cols_index = label_to_index[cols]
        # print(cols_index)

        # lalu pada step ini mencari data yang ada pada matrix duration_table
        # dengan index yang sudah dicari pada variable string route yaitu 'ABCDEBE'
        # output value 3,6,7,1,9,9,4
        value = duration_table[rows_index][cols_index]

        # ini opsional apabila ingin mengembalikan data dengan 2 karakter sebagai key,
        # dan value hasil yang didapatkan dari mencari data dari value = duration_table[rows_index][cols_index]
        pair_values[tuple(pair)] = value

        # untuk dapat mencari jumlah total waktu dari langkah 'ABCDEBE'
        # dilakukan append nilai output dari table duration_table kedalam list values
        values.append(value)

    # lalu dilakukan sum/fungsi mencari nilai total dari data yang didapat
    total_time = sum(values)

    return total_time

    # print(type(total_time))

Check function

In [12]:
# DO NOT CHANGE ANYTHING IN THIS CELL
# Just run after you finish the function
route = 'ABCDEBE'

total_time = calculate_duration(route, duration_table)
print(total_time)

39